body{
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;

}

header {
    background-color: #fff;

}
/* base */



/* block */

nav{
 display: flex;
 justify-content: center;
}

.navbar {
    background-color: #fff !important;
}
.carreau-1{
display: flex;
justify-content: space-around;

}

.container{
    font-family: Provicali;
}

.reseaux{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.connexion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.connexion a {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #2988E3;
    color: #fff;
    border-radius: 5px;
}
    
    .logo {
      color: #2988E3;
      font-family: provicali;
    }